nav {
    background-color: #00ff00;
    max-height: 70px;
    height: 70px;
    width: 100%;
    z-index: 999;
}

.nav-container {
    float: left;
    overflow: hidden;
    padding-top: 10px;
}

.right-nav {
    float: right;
    overflow: hidden;
}

nav ul {
    float: right;
    margin-right: 60px;
}

nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 20px 2px 0 15px;
    font-weight: bold;
}

.header-text {
    font-weight: bold;
    padding-left:  40px;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}