.App {
  text-align: center;
}

.picker {
  margin: 200px 0 0 500px;
}

.distance {
  text-align: center;
  padding-top: 100px;
}

.union {
  text-align: center;
  padding-top: 100px;
}

.pick {
  margin-top: 5rem;
}